.aboutCont{
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Cascadia Code', sans-serif;
}

.allText {
    max-width: 60vw;
    color:rgb(223, 221, 221);
    line-height: 2rem;
}